<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectoandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoAndroid">
        <activity
            android:name=".ui.search_users.SearchUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.watchlater.WatchLaterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.youtube.ListaActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:label="@string/title_activity_player"
            android:theme="@style/Theme.ProyectoAndroid.NoActionBar" />
        <activity
            android:name=".ui.youtube.VideoSearchActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.youtube.VideoInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".SiginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ProyectoAndroid.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>